<section id="clientes">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="titulo">
          <h1>Clientes</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="slideshow-container">

          {% for cliente in site.data.clientes %}
            <div class="mySlides row vcenter">
              <div class="col-sm-4 col-sm-offset-1 imagen">
                <img class="img-responsive center-block" src="{{ "/assets/images/clientes/" | append: cliente.imagen | relative_url }}">
              </div>
              <div class="col-sm-offset-1 col-sm-6 text-center texto">
                <h2>{{ cliente.nombre }}</h2>
                <p>{{ cliente.descripcion }}</p>
                <a href="http://{{ cliente.website }}">website</a>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </div>

  </div>
</section>
