<section id="perfil">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="imagen-perfil">
          <img alt="{{ site.title }}" src="{{ "/assets/favicon.ico" | relative_url }}" height="250px">
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="titulo-perfil">
          <h1>{{ site.author }}</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="texto-perfil">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas varius lectus ut justo feugiat, facilisis interdum mi cursus. Quisque lacinia suscipit nisi, vel rhoncus urna congue non. Sed pretium mollis nisi, eget porttitor quam lobortis quis. Integer enim risus, eleifend nec mollis vitae, porta vel neque. Sed sagittis efficitur metus, id vestibulum purus ultricies non. Nunc in convallis felis. Pellentesque semper sed neque eget imperdiet. Aliquam bibendum nunc nec ultrices varius. Cras suscipit fringilla elementum. Sed mattis diam sed porta pulvinar. Duis tristique augue sapien, id tempor tortor tempus eu.
          </p>
        </div>
        <div class="enlace-perfil">
          <p><a href="">ver más</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
