<section id="seccion-perfil">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="titulo">
          <h1>Perfil</h1>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="imagen-perfil">
          <img alt="{{ site.title }}" src="{{ "/assets/images/perfil.jpg" | relative_url }}" height="250px">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="texto-perfil">
          <p>
Abogado de la Universidad del Rosario, especializado en asuntos de derecho informático y propiedad intelectual, con experiencia así mismo en asuntos de derecho administrativo, civil, comercial, constitucional y laboral. Magíster (LLM) en Derecho y Tecnología de la Universidad de Tilburg (Países Bajos) y especialista en Derecho Informático y de las Nuevas Tecnologías de la Universidad Externado (Colombia). Diplomado en docencia universitaria y técnico en electrónica con énfasis en sistemas digitales y microcontroladores. 
Con varios cursos adicionales en propiedad intelectual, propiedad industrial, comercio electrónico, derecho de la competencia, gobernanza de internet, entre otros. Experiencia como asesor jurídico en el sector público y privado, en actividades académicas y como conferencista. Nivel avanzado (C1) del idioma inglés y nivel básico (A1) del idioma ruso.</p>
        </div>
        <div class="enlace-perfil">
          <p><a href="{% link perfil.md %}">ver más</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
