<section id="seccion-perfil">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="titulo">
          <h1>Perfil</h1>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="imagen-perfil">
          <img alt="{{ site.title }}" src="{{ "/assets/images/perfil.jpg" | relative_url }}" height="250px">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="texto-perfil">
          <p>
Abogado bilingüe especializado en asuntos de tecnología, propiedad intelectual y derecho comercial, con cursos y postgrados en dichas áreas, entre ellos una especialización en Derecho Informático y de las Nuevas Tecnologías (Universidad Externado – Colombia) y una maestría en Derecho y Tecnología en la Universidad de Tilburg (Países Bajos). Experiencia como asesor jurídico en el sector público y privado, en actividades académicas, community manager y conferencista en temas de propiedad intelectual, derecho informático, software libre y tecnología. Técnico en electrónica con énfasis en sistemas digitales y microcontroladores, y diplomado en docencia universitaria. Nivel avanzado (C1) del idioma inglés y nivel básico del idioma ruso.           </p>
        </div>
        <div class="enlace-perfil">
          <p><a href="{% link perfil.md %}">ver más</a></p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
