<section id="publicaciones">
  <div class="container">
    <div class="row text-center">
      <h1 class="titulo">Publicaciones</h1>
    </div>

    {% for post in site.posts limit: 3 %}
      <div class="row publicacion">
        <div class="col-xs-4 col-md-offset-2 col-md-2 data" align="right">
          <h5>{{ post.date | date_to_string }}</h5>
          <a href="">{{ post.category }}</a>
        </div>
      <div class="col-xs-8 col-md-6 text" align="left">
        <a href=""><h3>{{ post.title }}</h3></a>
        <p>{{ post.excerpt }}</p>
        <a href="">Ver más</a>
      </div>
    </div>
    {% endfor %}

    <div class="row text-center enlace">
      <a href="">Archivo</a>
    </div>
  </div>
</section>
