.post {
  font-family: $fuente-secundaria;
  font-size: 1.1em;
  h1 {
    text-align: center;
    font-family: $fuente-principal;
    color: $color-titulos;
  }
  p {
    img {
      padding: 20px;
      display: block;
      margin: 0 auto;
    }
  }
  a {
    color: $color-enlaces;
  }
  .subtitulo {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -10px;
    .categoria {
      color: $gris;
    }
  }
}

@media(min-width:768px) {
  .post {
    padding-top: 100px;
  }
}
