---
---
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

// Fuentes
//
$fuente-principal: 'Josefin Sans', sans-serif;
$fuente-secundaria: 'Roboto Mono', monospace;

// colores
//
$rojo: #73111B;
$rojo-claro: #8D131E;
$blanco: #FFF;
$blanco-logo: #F0F1F1;
$negro: #0E0E0E;
$verde: #06F106;
$morado: #8B1A8A;
$gris: #636C72;
$gris-oscuro: #353A3D;
$gris-claro: #9BA9B2;

$color-titulos: $verde;

// Navegacion
$color-fondo-navbar: $blanco-logo;
$color-navbar-brand: $gris;
$color-navbar-brand-dos: $gris-claro;
$color-navbar-toggle: $blanco-logo;
$color-fondo-navbar-toggle: $rojo-claro;
$color-fondo-navbar-toggle-dos: $rojo;
$color-enlace-navegacion: $gris;
$color-enlace-navegacion-dos: $gris-claro;
$color-enlace-navegacion-activo: $blanco-logo;
$color-fondo-enlace-navegacion-activo: $rojo-claro;

// Secciones
$color-titulos: $rojo;
$color-enlaces: $rojo-claro;

.navbar-default {
  border-color: transparent;
  background-color: $color-fondo-navbar;
}

.navbar-default .navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
  color: $color-navbar-brand;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
  color: $color-navbar-brand-dos;
}

.brand {
  img {
    margin-top: -8px;
  }
}

.navbar-default .navbar-collapse {
  border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
  border-color: $color-fondo-navbar-toggle;
  background-color: $color-fondo-navbar-toggle;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-navbar-toggle;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: $color-fondo-navbar-toggle-dos;
}

.navbar-default .nav li a {
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  letter-spacing: 1px;
  color: $color-enlace-navegacion;
  -webkit-transition: all ease .35s;
  -moz-transition: all ease .35s;
  transition: all ease .35s;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
  outline: 0;
  color: $color-enlace-navegacion-dos;
}

.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: $color-enlace-navegacion-activo;
  background-color: $color-fondo-enlace-navegacion-activo;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: $color-enlace-navegacion-activo;
  background-color: $color-fondo-enlace-navegacion-activo;
}

@media(min-width:768px) {
  .navbar-default {
    padding: 25px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }

  .navbar-default .navbar-brand {
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
  }

  .navbar-default.navbar-shrink {
    padding: 10px 0;
    background-color: $color-fondo-navbar;
  }

  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header {
  text-align: center;
  color: #fff;
  background-attachment: scroll;
  // https://i.vimeocdn.com/video/601809187_1280x720.jpg
  background-image: url("{{ "/assets/images/baner.jpg" | relative_url }}");
  background-position: center center;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
  margin-bottom: 25px;
  font-size: 22px;
  font-family: 'Roboto Mono', monospace;
  line-height: 22px;
}

header .intro-text .intro-heading {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
}

@media(min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    line-height: 40px;
  }

  header .intro-text .intro-heading {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
  }
}

section {
  padding-top: 100px;
}


// Partials
@import "header",
        "clientes",
        "clientes-slides";

section {
  padding-bottom: 110px;
}

.titulo {
  text-align: center;
  font-family: $fuente-principal;
  color: $verde;
}

// Perfil

#perfil {
  background-color: $blanco-logo;
}

.titulo-perfil {
  font-family: 'Josefin Sans', sans-serif;
  color: $color-titulos;
}

.texto-perfil {
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
}

.enlace-perfil {
  padding-top: 25px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1.6em;
  a {
  color: $color-enlaces;
  }
}

// Servicios

#servicios {
  background-color: $blanco;
  .titulo-servicios {
    text-align: center;
    font-family: $fuente-principal;
    color: $color-titulos;
  }
  .envoltura-servicio {
    background-color: $blanco-logo;
    padding: 30px;
    margin: 25px;
    .texto-servicio {
      font-family: $fuente-secundaria;
      color: $negro;
    }
    &:hover {
      background-color: $rojo;
    }
  }
  .enlace {
    padding-top: 25px;
    font-family: $fuente-principal;
    text-align: center;
    font-size: 1.6em;
    a {
      color: $color-enlaces;
    }
  }
}
